html {
    box-sizing: border-box;
    margin: 0;

}

.cis260specialgreen {
    color: #055f0f;
}

#cis-special-parent a {
    color: #efef15;

}

#content {
    color: goldenrod
}

h1 {
    font-weight: bolder;
}

p {
    font-family: fantasy
}

li {
    font-family: fantasy;
    justify-content: flex-end;
}

h1 {

    font-family: fantasy;
    border: 2px solid #ffffff;
}

a {
    color: #fff;
    font-size: 1.2 em;
    transition: background-color .3s, color .3s;
    text-decoration:none;
    text-transform:uppercase;
    font-family: fantasy
}

body {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/pb.png);
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 110vh;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
}

/*header nav ul li {*/
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: .5em;
    color: #055f0f;

}

header {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

header nav li {
    list-style-type: none;
    padding: 0.5em;

}

}

@media screen and (max-width: 30rem) {
    header,
    main,
    footer,
    form p {
        flex-direction: column;

    }
}

form input,
textarea {
    margin: 2px 0;
}

form p {
    display: flex;
    margin-bottom: .5em;
}

form label {
    flex-basis: 40%
}

form input,
textarea,
select {
    flex: 1;
    margin: 0 1em;
    border-radius: 5px;
}

form select {
    text-align: center;
}

h1,
li,
ul {
    text-transform: uppercase;
}

.radio-buttons {
    margin-right: 20px;
    font-family: fantasy
}

a:hover {
    color: #aaa;
}

